<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8" />
 <meta name="description" content="A frontend dashboard for theTrackMe application" />
 <meta name="satvik sharma" content="satvik sharma" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>TrackMe</title>
 </head>
 <body>
     <div class="container">
    <h1>Register New Device</h1>
        <div class="form-group">
            <label for="user">User</label>
            <input type="text" class="form-control" id="user" />
       </div>
       <div class="form-group">
            <label for="name">Device Name</label>
            <input type="text" class="form-control" id="name" />
       </div>
       <button class="btn btn-success" id="add-device">Save</button>
    </div>
 </body>
</html>