<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8" />
 <meta name="description" content="A frontend dashboard for theTrackMe application" />
 <meta name="satvik sharma" content="satvik sharma" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>TrackMe</title>
 </head>
 <body>
    <div class="container">
        
    </div>
    <h1>satvik sharma</h1>
    <h2>hobbies</h2>
        <p>my hobbies are playing video games, playing guitar or surfing on social media. moreover i also work as freelancer as a video editor
        and edit videos for singers using softwares like adobe premiere pro and after effects.
        </p>
    <h2>skills</h2>
        <p>
        during the course of this bachelors degree, i have learnt a lot of things , which include programming, 3d modelling, maths, sql robotics
        and many more. moreover i took a short photography and video editing course which heloped me to make my assignments a little different
        than others
        </p>
    <h2>target grade</h2>
        <p>
        this is a portfolio unit, and i would be really happy to get a high grade. but most importantly i am looking more about the 
        skills rather than marks. as long as i am learning new things, grades are not most important.
        </p>
    <h2>units completed</h2>
    <ol>
        <li>design fundamentals</li>
        <li>robotics studio</li>
        <li>engineering physics</li>
        <li>software engineering 1: connecting the cyber and physical world</li>
        <li>introduction to programming</li>
        <li>data and information management</li>
        <li>object oriented development</li>
        <li>embedded systems development</li>
        <li>discrete mathematics</li>
        <li>applied algebra and statistics</li>
    </ol>
    <div class="container">
        
    </div>
 </body>
</html>