<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="A frontend dashboard for theTrackMe application" />
        <meta name="satvik sharma" content="devices" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            TrackMe
        </title>
    </head>
    <body>
        <div class= "container">
            <div class="container">
            </div>
            <h1>login</h1>
            <div class="form-group">
                <label for="user">Username</label>
                <input type="text" class="form-control" id="user" />
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" />
            </div>
                <button 
                class="btn btn-success" id="login">login
                </button>
                <p>Don't have an account? Register <a href = "/sign-up">here</a></p>
                <div id = "message"></div>
            <div class="container">
            </div>
        </div>
    </body>
</html>