<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8" />
 <meta name="description" content="A frontend dashboard for theTrackMe application" />
 <meta name="satvik sharma" content="satvik sharma" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>TrackMe</title>
 </head>
 <body>
    <h1>
        Devices
    </h1>
    <table id="devices" class="table">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Device
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>   
 </body>
</html>